
/* I am still working on this style page */

h2 {
    font-family: verdana;
    font-size: 300%
}

/* This is the part I would like to be good at */
p {
    color: gray;
}

.pup {
    padding 
}

ol {
    font-size: 400% 
}

footer {
    font-size: 300%
}