
/* I am still working on this style page */
*{
    border: 1px solid black;
    font-size: 600%    
}
h2 {
    font-family: verdana;
}

/* This is the part I would like to be good at */
p {
    color: gray;
}

.pup {
    padding 
}

footer {
    font-size: 300%
}